@using Dto.ApiPanelDtos.ProductDtos.TourDtos;
@model LanguageEditTourProgramDto
@{
    ViewData["Title"] = "TourLanguageDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="card">
    <div class="card-header">
        <h4 class="float-start">
            <a href="/Tour/Index">Tour List</a>
            > Tour Detail
        </h4>
        <h4 class="float-end">@Model.LanguageName</h4>
    </div>
    <div class="card-body">
        <div class="px-3">
            <form method="post">
                <input hidden asp-for="LanguageID" />
                <input hidden asp-for="TourID" />
                @{
                    int i = 0;
                }
                @foreach (var program in Model.Programs)
                {
                    <input hidden name="Programs[@i].TourProgramLanguageItemID" value="@Model.Programs[i].TourProgramLanguageItemID" />
                    <input hidden name="Programs[@i].Day" value="@Model.Programs[i].Day" />
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                            <label for="tour-title" class="form-label fw-bold">
                                Day @Model.Programs[i].Day Title *:
                            </label>
                            <input required name="Programs[@i].Title" value="@Model.Programs[i].Title" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                            <label class="form-label fw-bold">
                                Day @Model.Programs[i].Day Content:<span class="text-danger fw-bold">*</span>
                            </label>
                            <textarea required name="Programs[@i].Content" id="editor-@i" rows="4" cols="4">
                                @Model.Programs[i].Content
                            </textarea>
                            <script>
                                CKEDITOR.replace('editor-@i');
                            </script>
                        </div>
                    </div>

                    i++;

                }

                <div class="row">
                    <!-- Button -->
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                        <button type="submit" class="btn btn-dark rounded-pill px-5 mt-3">
                            SAVE
                        </button>
                    </div>
                </div>

            </form>
        </div>
        
    </div>
</div>

