@using Dto.ApiWebDtos.ApiToWebDtos.GeneralPages;
@using GuideWeb.Helpers
@model GetApplyGuideDto

@{
    ViewData["Title"] = "ApplyGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string error1 = "";
    string error2 = "";
    error1 = TempData["error1"] as string;
    error2 = TempData["error2"] as string;
    string prefix = ViewData["language"].ToString();
}
<div>
    @if (!string.IsNullOrWhiteSpace(error1))
    {
        <div style="text-align:center;color:red;justify-content:center">@error1</div>
        <br />
    }
    @if (!string.IsNullOrWhiteSpace(error2))
    {
        <div style="text-align:center;color:red;justify-content:center">@error2</div>
    }
</div>

<div class="container">
    <div class="row mb-60 mt-60">
        <div class="col-lg-10 offset-lg-1">
            <div class="bg-white shadow rounded my-5">
                <div class="col-md-12 px-0">
                    <div class="form-left h-100 py-5 px-5 booking-form-box">
                        <fieldset>
                            <div class="form-card">
                                <div class="mb-5">
                                    <h1 class="text-center">@Helpers.Wcv(Model.ConstantValues, "ApplyGuide.Title")</h1>
                                </div>
                                <form method="post" enctype="multipart/form-data" id="msform" class="banner-form row" action="/CustomPage/ApplyGuide">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="search-box-single destination-box postition-relative">
                                                <div class="searchbox-icon">
                                                    <i class="fas fa-id-card-alt"></i>
                                                </div>
                                                <div class="searchbox-input">
                                                    <input required placeholder="@Helpers.Wcv(Model.ConstantValues,"ApplyGuide.NamePlaceholder")" type="text" name="Name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="search-box-single destination-box postition-relative">
                                                <div class="searchbox-icon">
                                                    <i class="far fa-id-card"></i>
                                                </div>
                                                <div class="searchbox-input">
                                                    <input required placeholder="@Helpers.Wcv(Model.ConstantValues,"ApplyGuide.SurnamePlaceholder")" type="text" name="Surname" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="search-box-single destination-box postition-relative">
                                                <div class="searchbox-icon">
                                                    <i class="far fa-envelope-open"></i>
                                                </div>
                                                <div class="searchbox-input">
                                                    <input required placeholder="@Helpers.Wcv(Model.ConstantValues,"ApplyGuide.EmailPlaceholder")" type="email" name="Email" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="search-box-single destination-box postition-relative ps-0">

                                                <div class="searchbox-input text-start">
                                                    <input required placeholder="@Helpers.Wcv(Model.ConstantValues, "ApplyGuide.PhonePlaceholder")" type="text"
                                                           name="Phone" id="phone" class="masked phone" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="search-box-single d-block overflow-hidden destination-box rez_box_check">
                                                <span class="rez_form_head">@Helpers.Wcv(Model.ConstantValues,"ApplyGuide.LanguageYouKnowTitle")</span>

                                                @foreach (var language in Model.LanguageKnowOptions)
                                                {
                                                    <div class="col-6 col-sm-6 col-md-4 float-start">
                                                        <label>
                                                            <input value="@language.OptionID" name="LanguageKnowIDs" id="language-@language.OptionID" type="checkbox" />
                                                            <span></span>
                                                        </label>
                                                        <label class="w-auto text-start" for="language-@language.OptionID">
                                                            @language.Option
                                                        </label>

                                                    </div>
                                                }


                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="search-box-single d-block overflow-hidden destination-box rez_box_check">
                                                <span class="rez_form_head">@Helpers.Wcv(Model.ConstantValues,"ApplyGuide.CitiesWhereYouSpecializeTitle")</span>
                                                @foreach (var city in Model.SpecializeCityOptions)
                                                {
                                                    <div class="col-6 col-sm-6 col-md-4 float-start">
                                                        <label>
                                                            <input value="@city.OptionID" name="SpecializeCityIDs" id="city-@city.OptionID" type="checkbox" />
                                                            <span></span>
                                                        </label>
                                                        <label class="w-auto text-start" for="city-@city.OptionID">
                                                            @city.Option
                                                        </label>

                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 fw-bold pt-3">
                                            <label for="" class="float-start">@Helpers.Wcv(Model.ConstantValues, "ApplyGuide.ProfilPhotoLabel")</label>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="search-box-single destination-box postition-relative p-0">
                                                <div class="searchbox-input">
                                                    <input required style="height: 47px;" class="p-0" type="file"
                                                           name="ProfilPhoto" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 fw-bold pt-3">
                                            <label for="" class="float-start">@Helpers.Wcv(Model.ConstantValues,"ApplyGuide.LicenseFrontSideLabel")</label>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="search-box-single destination-box postition-relative p-0">
                                                <div class="searchbox-input">
                                                    <input required style="height: 47px;" class="p-0" type="file"
                                                           name="LicenseFront" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 fw-bold pt-3">
                                            <label for="" class="float-start">@Helpers.Wcv(Model.ConstantValues, "ApplyGuide.LicenseBackSideLabel")</label>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="search-box-single destination-box postition-relative p-0">
                                                <div class="searchbox-input">
                                                    <input required style="height: 47px;" class="p-0" type="file"
                                                           name="LicenseBack" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="search-box-single destination-box postition-relative">
                                                <div class="searchbox-icon">
                                                    <i class="fas fa-birthday-cake"></i>
                                                </div>
                                                <div class="searchbox-input">
                                                    <input required placeholder="@Helpers.Wcv(Model.ConstantValues, "ApplyGuide.BirthDayPlaceholder")" type="date" name="BirthDate">
                                                </div>
                                            </div>
                                        </div>

                                            <div class="col-md-6">
                                                <div class="search-box-single destination-box postition-relative">
                                                    <div class="searchbox-icon">
                                                        <i class="fas fa-id-card"></i>
                                                    </div>
                                                    <div class="searchbox-input">
                                                        <input required placeholder="@Helpers.Wcv(Model.ConstantValues, "ApplyGuide.TurebLicenseNumberPlaceholder")" type="text"
                                                               name="TurebLicenseNumber" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="search-box-single destination-box postition-relative">
                                                    <div class="searchbox-icon">
                                                        <i class="fas fa-id-card"></i>
                                                    </div>
                                                    <div class="searchbox-input">
                                                        <input required placeholder="@Helpers.Wcv(Model.ConstantValues,"ApplyGuide.TcPlaceholder")" type="text"
                                                               name="Tc" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="search-box-single destination-box postition-relative">
                                                    <div class="searchbox-icon">
                                                        <i class="fas fa-file-contract"></i>
                                                    </div>
                                                    <div class="searchbox-input">
                                                        <input required placeholder="@Helpers.Wcv(Model.ConstantValues, "ApplyGuide.RegisteredDirectoryRoomPlaceholder")" type="text"
                                                               name="RegisteredDirectoryRoom" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="d-block overflow-hidden destination-box rez_box_check">
                                                        <div class="col-12 col-sm-12 col-md-12 float-start">
                                                            <label>
                                                                <input required value="true" name="ApproveConstent" id="constent" type="checkbox" />
                                                                <span></span>
                                                            </label>
                                                            <label class="w-auto text-start" for="constent">
                                                                @Html.Raw(Helpers.Wcv(Model.ConstantValues,"ApplyGuide.ReadConstentLabel"))

                                                            </label>
                                            @*<a href = "@Helpers.PrepareUrl(prefix,Model.ApplyGuideFaqSlug)">FAQ </a>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="clearfix col-lg-12">
                                                <button type="submit"
                                                        class="float-end eg-btn btn--primary btn--lg submit-btn" title="Apply">
                                                    @Helpers.Wcv(Model.ConstantValues,"ApplyGuide.ApplyButton")
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

