@using Core.StaticClass
@using Dto.ApiWebDtos.ApiToWebDtos.Tour;
@using GuideWeb.Helpers;
@model GetTourFilterDto
@foreach (var tour in Model.Tours)
{
    <div class="col-lg-12 col-md-6">
        <div class="tour-package-standard">
            <div class="tour-standard-image tourİmageResize">
                <span class="favourite">
                    <i class="bi bi-suit-heart-fill"></i>
                </span>
                <img style=""
                     src="@Resource.ImagePath/@tour.CardImagePath" class="img-fluid w-100" alt="@tour.TourName" title="@tour.TourName">
            </div>
            <div class="tour-standard-content w-100">
                <div class="row">
                    <div class="col-lg-8 tourFilterText">
                        <div class="col">
                            @foreach (var tag in tour.TagNames)
                            {
                                <span class="badge bg-secondary">@tag</span>
                            }


                        </div>
                        <div class="col mt-2">
                            @foreach (var category in tour.CategoryNames)
                            {
                                <span class="badge bg-info text-dark">
                                    <i class="fas fa-user-check"></i>
                                    @category
                                </span>
                            }


                        </div>

                        <h4 class="mt-4">
                            <a href="/Tour/TourDetail/@tour.ProductId" title="@tour.TourName">
                                @tour.TourName
                            </a>
                        </h4>
                    </div>
                    <div class="col-lg-4">
                        <div class="review-area">
                            <i data-star="@tour.Rate"></i>
                        </div>
                        <div class="price d-grid">
                            @if (@tour.Price != 0)
                            {
                                <button type="submit"
                                        class="eg-btn btn--primary btn--md submit-btn float-end mt-2" title="$@tour.Price">
                                    @Helpers.Wcv(Model.ConstantValues,"TourFilter.FromLabel")
                                    @Helpers.Wprice(@tour.Price)
                                </button>
                            }

                            else if (tour.AskForPrice)
                            {

                                <a href="/Contact/Index/" class="eg-btn btn--primary btn--md submit-btn float-end mt-2" title="Ask For Price">
                                    Ask For Price
                                </a>
                            }
                            else
                            {
                                <a href="/Contact/Index/" class="eg-btn btn--primary btn--md submit-btn float-end mt-2" title="Ask For Price">Ask For Price
                                </a>
                            }

                            <span>@Helpers.Wcv(Model.ConstantValues,"TourFilter.PricePerPersonLabel")</span>
                        </div>
                        <a href="/Tour/TourDetail/@tour.ProductId"
                           class="eg-btn btn--primary-outline btn--md float-end mt-0" title="Detail">@Helpers.Wcv(Model.ConstantValues,"TourFilter.DetailButton")</a>
                    </div>
                    <hr class="mt-4">
                    @*                                        <div>
                <b>@Model.ConstantValues.FirstOrDefault(x=>x.Key == "TourFilter.NumberOfReviewLabel").Value: @tour.ReviewCount</b>
                </div>*@
                </div>

            </div>
        </div>
    </div>
}