@using Dto.ApiWebDtos.ApiToWebDtos.Profile;
@using Dto.ApiWebDtos.GeneralDtos;
@model (GetProfileUserDto getProfileUserDto,CustomPageConstantValueDto customPage)
@{
    ViewData["Title"] = "ProfileMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string language = ViewData["language"].ToString();

}

<div class="container">
    <div class="row mt-30 mb-60">
        <div class="col-lg-6 offset-lg-3">
            <div class="bg-white shadow rounded my-5">
                <div class="row">
                    <div class="col-md-12 pe-0">
                        <div class="form-left h-100 py-5 px-5 booking-form-box">
                            <fieldset>
                                <div class="form-card">
                                    <div class="clearfix">
                                        <a href="@Helpers.PrepareUrl(language,"change-password")"  class="eg-btn btn--primary btn--sm submit-btn float-end ps-2 pe-2" title="Change Password"> @Model.getProfileUserDto.ConstantValues.FirstOrDefault(x => x.Key == "ProfileUserChangePasswordButton").Value</a>
                                    </div>
                                    <div class="mb-5 mt-2">
                                        <h1 class="text-center mt-5">@Helpers.Wcv(Model.getProfileUserDto.ConstantValues,"ProfileUserTitle")</h1>
                                    </div>
                                    <form method="post" id="msform" class="banner-form" action="/Profile/ProfileMember">
                                        <input hidden name="UserID" value="@Model.getProfileUserDto.UserID" />
                                        <div class="search-box-single destination-box postition-relative">
                                            <div class="searchbox-icon">
                                                <i class="fas fa-id-card-alt"></i>
                                            </div>
                                            <div class="searchbox-input">
                                                <input placeholder="@Helpers.Wcv(Model.getProfileUserDto.ConstantValues,"ProfileUserNamePlaceholder")" value="@Model.getProfileUserDto.Name" type="text" name="Name" />
                                            </div>
                                        </div>
                                        <div class="search-box-single destination-box postition-relative">
                                            <div class="searchbox-icon">
                                                <i class="far fa-id-card"></i>
                                            </div>
                                            <div class="searchbox-input">
                                                <input placeholder="@Helpers.Wcv(Model.getProfileUserDto.ConstantValues,"ProfileUserSurnamePlaceholder")" value="@Model.getProfileUserDto.Surname" type="text" name="Surname" />
                                            </div>
                                        </div>
                                        <div class="search-box-single destination-box postition-relative">
                                            <div class="searchbox-icon">
                                                <i class="far fa-envelope-open"></i>
                                            </div>
                                            <div class="searchbox-input">
                                                <input placeholder="@Helpers.Wcv(Model.getProfileUserDto.ConstantValues,"ProfileUserEmailPlaceholder")" value="@Model.getProfileUserDto.Email" type="email"
                                                       name="Email" />
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <button type="submit"
                                                    class="float-end eg-btn btn--primary btn--lg submit-btn" title="Save">
                                                @Model.getProfileUserDto.ConstantValues.FirstOrDefault(x=>x.Key == "ProfileUserSaveButton").Value
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

