@using Dto.ApiPanelDtos.ProductDtos.AddProductDtos;
@using Dto.ApiWebDtos.GeneralDtos;
@model AddProductDto
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h4 class="card-header">Add Product</h4>
    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!--Add Tour Start-->
        <!-- start page title -->
        <form method="post" enctype="multipart/form-data">
           <input hidden asp-for="@Model.RequestId" />

            <div class="row">
                <div class="text-center mb-3">
                    <h2>Product Information</h2>
                </div>
@*                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="cancellation-policy" class="form-label fw-bold">Operator Agente:<span class="text-danger fw-bold">*</span></label>
                    <select asp-for=OperatorAgentID class="form-select" id="cancellation-policy">
                        <option selected disabled>Select...</option>
                        @foreach (var agent in (List<SelectListOptionDto>)ViewBag.AgentSelectList)
                        {
                            <option value="@agent.OptionID">@agent.Option</option>
                        }
                    </select>
                </div>*@
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Product Name:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for=ProductName id="tour-title" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Display Name:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for=DisplayName id="DisplayName" class="form-control" onkeyup="convertTo()" onclick="convertTo()" required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Slug:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for=Slug id="Slug" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Order:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="number" asp-for=Order id="Order" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">Youtube Link:</label>
                    <input type="text" asp-for=YoutubeLink id="tour-title" class="form-control">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Banner Image(1903x650):<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="file" name="BannerImage" id="tour-title" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Card Image(380x270):<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="file" name="CardImage" id="tour-title" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="cancellation-policy" class="form-label fw-bold">
                        Cancellation Policy:<span class="text-danger fw-bold">*</span>
                    </label>
                    <select asp-for=CancellationPolicyID class="form-select" id="cancellation-policy" required>
                        <option selected disabled value ="">Select...</option>
                        @foreach (var cancellationPolicy in (List<SelectListOptionDto>)ViewBag.CancellationPolicySelectList)
                        {
                            <option value="@cancellationPolicy.OptionID">@cancellationPolicy.Option</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-cities" class="form-label fw-bold">
                        Tags:<span class="text-danger fw-bold">*</span>
                    </label>
                    <select class="js-example-basic-multiple" id="tour-cities"
                            asp-for="TagIDs" multiple="multiple" required>
                        @foreach (var tag in (List<SelectListOptionDto>)ViewBag.TagSelectList)
                        {
                            <option value="@tag.OptionID">@tag.Option</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">Cut-off Time:</label>
                    <div class="row">
                        <div class="col">
                            <input asp-for=CutOffDay type="number" id="tour-title" class="form-control"
                                   placeholder="Day" required>
                        </div>
                        <div class="col">
                            <input asp-for=CutOffHour type="number" id="tour-title" class="form-control"
                                   placeholder="Hour" required>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Customer Deposito Amount
                    </label>
                    <input asp-for="CustomerDepositoAmount" type="number" id="tour-title" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Agent Deposito Amount
                    </label>
                    <input asp-for=AgentDepositoAmount type="number" id="tour-title" class="form-control" required>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Day of Payment
                    </label>
                    <input asp-for=DayOfPayment type="number" id="tour-title" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="" class="form-label fw-bold d-block">
                        Show on Homepage:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input asp-for="ShowOnHomepage" class="form-check-input" type="checkbox" value="true"
                           id="showHomepage" >
                    <label class="form-check-label" for="showHomepage">
                        Show
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tour-title" class="form-label fw-bold">
                        Minimum Payout Percent
                    </label>
                    <input asp-for=MinimumPayoutPercent type="number" id="tour-title" class="form-control">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="" class="form-label fw-bold d-block">
                        Activate Child Policy:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input asp-for=ActivateChildPolicy class="form-check-input" type="checkbox" value="true"
                           id="childPolicy">
                    <label class="form-check-label" for="childPolicy">
                        Activate
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label class="form-label fw-bold d-block">
                        Product Type:<span class="text-danger fw-bold">*</span>
                    </label>

                    <div class="d-inline-block">
                        <label for="tour">Tour</label>
                        <input asp-for=IsProductTour type="radio" value="true" id="tour">
                    </div>
                    <div class="d-inline-block ms-3 ">
                        <label for="service">Service</label>
                        <input asp-for=IsProductTour type="radio" value="false" id="service">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit" class="btn btn-dark rounded-pill px-5 mt-3">
                        Next
                    </button>
                </div>
            </div>
        </form>
        <!--Tour Add End-->
    </div>
</div>

@section Scripts {

<script>
    function convertTo() {

        var deger = $('#DisplayName').val().trim();

        var chacters = {
            Ç: 'c',
            Ö: 'o',
            Ş: 's',
            İ: 'i',
            I: 'i',
            Ü: 'u',
            Ğ: 'g',
            ç: 'c',
            ö: 'o',
            ş: 's',
            ı: 'i',
            ü: 'u',
            ğ: 'g',
            " ": '-'
        };
        var stringtoarray = deger.split('');
        for (var i = 0; i < stringtoarray.length; i++) {
            stringtoarray[i] = chacters[stringtoarray[i]] || stringtoarray[i];
        }

        var arraytostring = stringtoarray.join('');
        var cleanMessage = arraytostring.replace(/\./g, "-").replace(/\//g, "-").replace(/[^\w\s-]/g, '').replace(/[\s_-]+/g, '-').replace(/^-+|-+$/g, '').toLowerCase();
        $('#Slug').val(cleanMessage);

    }
</script>


}





