@using Dto.ApiPanelDtos.RoleDtos;
@using Dto.ApiWebDtos.GeneralDtos;
@model EditRoleDto
@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h4 class="card-header"><a href="/Role/Index">Role List</a>
        > Edit Role > @Model.RoleTemplateName </h4>
    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!---Edit Role Start-->
        <!-- start page title -->
        <form method="post">
            <input hidden asp-for="RoleTemplateID" />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="rolename" class="form-label fw-bold">
                        Role Name:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for="RoleTemplateName" class="form-control">

                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="pages" class="form-label fw-bold">
                        Pages:<span class="text-danger fw-bold">*</span>
                    </label>
                    <select class="js-example-basic-multiple" id="pages" asp-for="RoleIDs"
                            multiple="multiple">
                        @foreach (var panelPage in (List<SelectListOptionDto>)ViewBag.AllowSelectList)
                        {
                            <option value="@panelPage.OptionID">@panelPage.Option</option>
                           @* @if (Model.PanelPages.Contains(panelPage.OptionID))
                            {
                                <option selected value="@panelPage.OptionID">@panelPage.Option</option>
                            }else
                            {
                                
                            }*@
                            
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>
        </form>
        <!---Edit Role End-->

    </div>
</div>

