@using Dto.ApiPanelDtos.ProductDtos.GeneralDtos;
@using Dto.ApiWebDtos.GeneralDtos;
@model List<ProductAdditionalServiceListDto>
@{
    ViewData["Title"] = "ServiceDetailAdditionalService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function editAdditionalService(additionalServiceId) {
        $.ajax({
            url: '/Service/_EditServiceAdditionalServicePartial',
            data: {
                id: additionalServiceId
            },
            success: function (result) {
                $('#editModal').empty();
                $('#editModal').html(result);
                $("#productIdInput").attr("value", '@ViewBag.ProductID');
                $("#editAdditionalServiceModal").modal("show")
                $('.js-example-basic-multiple').select2();
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    }
</script>
<div class="card">
    <div class="card-body">
        <h4 class="header-title mb-3"><a href="/Service/Index">Service List</a>
            > Service Detail > @ViewBag.ProductName
        </h4>
        <ul class="nav nav-tabs nav-bordered mb-3">

            <li class="nav-item">
                <a href="/Service/ServiceDetail/@ViewBag.ProductID" class="nav-link ">
                    <i class="mdi mdi-information-outline d-md-none d-block"></i>
                    <span class="d-none d-md-block">General Info</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Service/ServiceDetailImage/@ViewBag.ProductID" class="nav-link ">
                    <i class="mdi mdi-account-circle d-md-none d-block"></i>
                    <span class="d-none d-md-block">Images</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Service/ServiceDetailAdditionalService/@ViewBag.ProductID" class="nav-link active">
                    <i class="mdi mdi-currency-usd d-md-none d-block"></i>
                    <span class="d-none d-md-block">Additional Service</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Service/ServiceDetailBlog/@ViewBag.ProductID" class="nav-link">
                    <i class="mdi mdi-currency-usd d-md-none d-block"></i>
                    <span class="d-none d-md-block">Blog</span>
                </a>
            </li>
        </ul>
        <div class=" mt-3 mb-2 clearfix">
            <button data-bs-toggle="modal" data-bs-target="#add-additionalService" type="button" class="btn btn-primary float-end px-3 ms-2">Add Addditional Service</button>
        </div>

        <div class="card">
            <h4 class="card-header">
                Additional Service List
            </h4>
            <div class="card-body">
                <table class="table w-100 nowrap table-striped">
                    <thead>
                        <tr>
                            <th style="width: 0%;">Update</th>
                            <th style="width: 0%;">Status</th>
                            <th>Additional Services</th>
                            <th>Options</th>
                            <th class="text-center">Required</th>
                            <th class="text-center">Comission</th>
                            <th class="text-center">Single/Multiple Select</th>
                            <th style="width: 0%;">Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var additionalService in Model.OrderBy(x => x.ProductAdditionalServiceID))
                        {
                            <tr>
                                <td>
                                    <button onclick="editAdditionalService('@additionalService.ProductAdditionalServiceID')" type="button" class="btn btn-info">
                                        Update
                                    </button>
                                </td>
                                <td>
                                    @if (additionalService.Status)
                                    {
                                        <a href="/Service/ToggleProductAdditionalServiceStatus/@additionalService.ProductAdditionalServiceID/@ViewBag.ProductID" class="btn btn-success w-100">Active</a>
                                    }
                                    else
                                    {
                                        <a href="/Service/ToggleProductAdditionalServiceStatus/@additionalService.ProductAdditionalServiceID/@ViewBag.ProductID" class="btn btn-danger w-100">Passive</a>
                                    }

                                </td>
                                <td>@additionalService.Title</td>
                                <td>
                                    @for (int i = 0; i < additionalService.Options.Count; i++)
                                    {
                                        if (i == additionalService.Options.Count - 1)
                                        {
                                            <span>@additionalService.Options[i]</span>
                                        }
                                        else
                                        {
                                            <span>@additionalService.Options[i] - </span>
                                        }
                                    }
                                </td>
                                @if (additionalService.IsRequired)
                                {
                                    <td class="text-success text-center">Required</td>
                                }
                                else
                                {
                                    <td class="text-danger text-center">Not Required</td>
                                }
                                @if (additionalService.IsComissionValid)
                                {
                                    <td class="text-success text-center">Valid</td>
                                }
                                else
                                {
                                    <td class="text-danger text-center">Not Valid</td>
                                }
                                @if (additionalService.IsMultiSelect)
                                {
                                    <td class="text-center">Multiple Select</td>
                                }
                                else
                                {
                                    <td class="text-center">Sigle Select</td>
                                }
                                <td class="text-center">@additionalService.Order</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>

            function optionSelectList(additionalServiceID, optionInput) {

                $.ajax({
                    url: '/Product/AdditionalServiceOptionSelectList',
                    data: {
                        id: additionalServiceID
                    },
                    success: function (result) {

                        $(`#${optionInput}`).empty();

                        $(result).each(function (i) {
                            let newOption = new Option(result[i].option, result[i].optionID);
                            const select = document.querySelector(`#${optionInput}`);
                            select.add(newOption, undefined);
                        });

                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                    }
                })
            }
        </script>

        <div id="editModal"></div>

        <!-- Add Addditional ServiceModal -->
        <div id="add-additionalService" class="modal fade" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        Add Additional Service
                    </div>
                    <div class="modal-body p-2">
                        <form method="post" action="/Service/AddProductAdditionalService">
                            <input hidden name="ProductID" value="@ViewBag.ProductID" />
                            <div class="row">
                                <div class="col-sm-12 col-md-12  mb-3 mr-1">
                                    <label for="option-name" class="form-label fw-bold">
                                        Additional Service:<span class="text-danger fw-bold">*</span>
                                    </label>
                                    <select name="AdditionalServiceID" onchange="optionSelectList(this.value,'add-optionInput')" required class="form-select" id="add-additionalServiceInput">
                                        <option selected disabled>Select...</option>
                                        @foreach (var additionalService in (List<SelectListOptionDto>)ViewBag.AdditionalServiceSelectList)
                                        {
                                            <option value="@additionalService.OptionID">@additionalService.Option</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-12  mb-3 mr-1">
                                    <label for="option-name" class="form-label fw-bold">
                                        Option:<span class="text-danger fw-bold">*</span>
                                    </label>
                                    <select required class="js-example-basic-multiple" id="add-optionInput" name="OptionIDs[]" multiple="multiple">
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-6  mb-3 ">
                                    <label for="option-name" class="form-label fw-bold">
                                        Order:<span class="text-danger fw-bold">*</span>
                                    </label>
                                    <input required type="number" class="form-control" name="Order" id="option-name">
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 mb-3 ">
                                    <label for="" class="form-label fw-bold d-block">
                                        Is required:<span class="text-danger fw-bold">*</span>
                                    </label>
                                    <input name="IsRequired" class="form-check-input additionalServiceInput-required" type="checkbox" value="true" id="add-required">
                                    <label class="form-check-label" for="add-required">
                                        Required
                                    </label>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 mb-3">
                                    <label for="" class="form-label fw-bold d-block">
                                        Is Comission Valid?:<span class="text-danger fw-bold">*</span>
                                    </label>
                                    <input name="IsComissionValid" class="form-check-input additionalServiceInput-required" type="checkbox" value="true" id="add-comissionValid">
                                    <label class="form-check-label" for="add-comissionValid">
                                        Valid
                                    </label>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 mb-3 " style="display:none">
                                    <label for="" class="form-label fw-bold d-block">
                                        Allow Multiple Select:<span class="text-danger fw-bold">*</span>
                                    </label>
                                    <input name="IsMultiSelect" class="form-check-input additionalServiceInput-required" type="checkbox" value="true" id="add-multipleSelect">
                                    <label class="form-check-label" for="add-multipleSelect">
                                        Allow
                                    </label>
                                </div>
                            </div>


                            <div class="row">
                                <!-- Button -->
                                <div class="col-sm-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                                    <button type="submit" class="btn btn-dark rounded-pill px-5 mt-3">
                                        SAVE
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /. Add Addditional Service Modal -->
    </div>
</div>

